<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.AboutMapper">
    <!--查询关于我设置-->
    <select id="getList" resultType="top.naccl.entity.About">
        select * from about
    </select>

    <!--更新关于我设置-->
    <update id="updateAbout">
        update about set value=#{value} where name_en=#{nameEn}
    </update>

    <!--查询关于我页面评论开关状态-->
    <select id="getAboutCommentEnabled" resultType="java.lang.String">
        select value from about where name_en="commentEnabled"
    </select>
</mapper>
