<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.BlogMapper">

    <resultMap id="blog" type="top.naccl.entity.Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="firstPicture" column="first_picture"/>
        <result property="content" column="content"/>
        <result property="description" column="description"/>
        <result property="published" column="is_published"/>
        <result property="recommend" column="is_recommend"/>
        <result property="appreciation" column="is_appreciation"/>
        <result property="commentEnabled" column="is_comment_enabled"/>
        <result property="top" column="is_top"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <result property="words" column="words"/>
        <result property="readTime" column="read_time"/>
        <result property="password" column="password"/>
        <association property="user" javaType="top.naccl.entity.User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="nickname" column="nickname"/>
            <result property="avatar" column="avatar"/>
            <result property="email" column="email"/>
            <result property="createTime" column="user_create_time"/>
            <result property="updateTime" column="user_update_time"/>
            <result property="role" column="role"/>
        </association>
        <association property="category" javaType="top.naccl.entity.Category">
            <id property="id" column="category_id"/>
            <result property="name" column="category_name"/>
        </association>
        <collection property="tags" javaType="top.naccl.entity.Tag">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
            <result property="color" column="color"/>
        </collection>
    </resultMap>

    <!--按标题和分类查询博客List-->
    <select id="getListByTitleAndCategoryId" resultMap="blog">
        <bind name="titlePattern" value="'%' + title + '%'"/>
        select b.id, b.title, b.first_picture, b.create_time, b.update_time, b.is_published, b.is_recommend, b.is_appreciation,
        b.is_comment_enabled, b.is_top, b.password,
        c.id as category_id, c.category_name
        from blog as b left join category as c on b.category_id=c.id
        <where>
            <if test="title!=null and title!=''">
                b.title like #{titlePattern}
            </if>
            <if test="categoryId!=null">
                and b.category_id=#{categoryId}
            </if>
        </where>
    </select>

    <resultMap id="searchBlog" type="top.naccl.model.vo.SearchBlog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
    </resultMap>

    <!--按关键字根据文章内容搜索公开且无密码保护的博客文章-->
    <select id="getSearchBlogListByQueryAndIsPublished" resultMap="searchBlog">
        <bind name="queryPattern" value="'%' + query + '%'"/>
        select id, title, content
        from blog
        where is_published=true and password='' and content like #{queryPattern}
    </select>

    <resultMap id="blogIdAndTitle" type="top.naccl.model.vo.BlogIdAndTitle">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
    </resultMap>

    <!--查询所有博客id和title-->
    <select id="getIdAndTitleList" resultMap="blogIdAndTitle">
        select id, title from blog order by create_time desc
    </select>

    <resultMap id="newBlog" type="top.naccl.model.vo.NewBlog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="password" column="password"/>
    </resultMap>

    <!--查询最新公开博客-->
    <select id="getNewBlogListByIsPublished" resultMap="newBlog">
        select id, title, password
        from blog
        where is_published=true
        order by create_time desc
    </select>

    <resultMap id="blogInfo" type="top.naccl.model.vo.BlogInfo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="views" column="views"/>
        <result property="words" column="words"/>
        <result property="readTime" column="read_time"/>
        <result property="top" column="is_top"/>
        <result property="password" column="password"/>
        <association property="category" javaType="top.naccl.entity.Category">
            <result property="name" column="category_name"/>
        </association>
    </resultMap>

    <!--查询公开博客的简要信息-->
    <select id="getBlogInfoListByIsPublished" resultMap="blogInfo">
        select b.id, b.title, b.description, b.is_top, b.create_time, b.views, b.words, b.read_time, b.password, c.category_name
        from blog as b left join category as c on b.category_id=c.id
        where b.is_published=true
    </select>

    <!--根据分类name查询公开博客List-->
    <select id="getBlogInfoListByCategoryNameAndIsPublished" resultMap="blogInfo">
        select b.id, b.title, b.description, b.is_top, b.create_time, b.views, b.words, b.read_time, b.password, c.category_name
        from category as c left join blog as b on b.category_id=c.id
        where c.category_name=#{categoryName} and b.is_published=true
    </select>

    <!--根据标签name查询公开博客List-->
    <select id="getBlogInfoListByTagNameAndIsPublished" resultMap="blogInfo">
        select b.id, b.title, b.description, b.is_top, b.create_time, b.views, b.words, b.read_time, b.password, c.category_name
        from (((tag as t left join blog_tag as bt on t.id=bt.tag_id) left join blog as b on bt.blog_id=b.id) left join category as c on b.category_id=c.id)
        where t.tag_name=#{tagName} and b.is_published=true
    </select>

    <!--查询公开博客年月List-->
    <select id="getGroupYearMonthByIsPublished" resultType="java.lang.String">
        select date_format(create_time, "%Y年%m月")
        from blog
        where is_published=true
        group by date_format(create_time, "%Y年%m月")
        order by date_format(create_time, "%Y年%m月") desc
    </select>

    <resultMap id="archiveBlog" type="top.naccl.model.vo.ArchiveBlog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="day" column="create_day"/>
        <result property="password" column="password"/>
    </resultMap>

    <!--按年月查询公开博客简要信息List-->
    <select id="getArchiveBlogListByYearMonthAndIsPublished" resultMap="archiveBlog">
        select id, title, password, date_format(create_time, "%d日") as create_day
        from blog
        where date_format(create_time, "%Y年%m月")=#{yearMonth} and is_published=true
        order by create_time desc
    </select>

    <resultMap id="randomBlog" type="top.naccl.model.vo.RandomBlog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="password" column="password"/>
        <result property="createTime" column="create_time"/>
        <result property="firstPicture" column="first_picture"/>
    </resultMap>

    <!--查询随机的公开且推荐文章-->
    <select id="getRandomBlogListByLimitNumAndIsPublishedAndIsRecommend" resultMap="randomBlog">
        select id, title, password, create_time, first_picture
        from blog
        where is_published=true and is_recommend=true
        order by rand() limit #{limitNum}
    </select>

    <!--查询所有文章的浏览量-->
    <select id="getBlogViewsList" resultType="top.naccl.model.dto.BlogView">
        select id, views from blog
    </select>

    <!--按id删除博客-->
    <delete id="deleteBlogById">
        delete from blog where id=#{id}
    </delete>

    <!--维护 blog_tag 表(删除)-->
    <delete id="deleteBlogTagByBlogId">
        delete from blog_tag where blog_id=#{blogId}
    </delete>

    <!--维护 blog_tag 表(添加)-->
    <insert id="saveBlogTag">
        insert into blog_tag (blog_id, tag_id) values (#{blogId}, #{tagId})
    </insert>

    <!--添加博客-->
    <insert id="saveBlog" parameterType="top.naccl.model.dto.Blog" useGeneratedKeys="true" keyProperty="id">
        insert into blog (title, first_picture, content, description, is_published, is_recommend, is_appreciation, is_comment_enabled,
        is_top, create_time, update_time, views, words, read_time, category_id, user_id, password)
        values (#{title}, #{firstPicture}, #{content}, #{description}, #{published}, #{recommend}, #{appreciation}, #{commentEnabled},
        #{top}, #{createTime}, #{updateTime}, #{views}, #{words}, #{readTime}, #{category.id}, #{user.id}, #{password})
    </insert>

    <!--更新博客推荐状态-->
    <update id="updateBlogRecommendById">
        update blog set is_recommend=#{recommend} where id=#{blogId}
    </update>

    <!--更新博客置顶状态-->
    <update id="updateBlogTopById">
        update blog set is_top=#{top} where id=#{blogId}
    </update>

    <!--更新博客可见性状态-->
    <update id="updateBlogVisibilityById">
        update blog set is_appreciation=#{bv.appreciation}, is_recommend=#{bv.recommend}, is_comment_enabled=#{bv.commentEnabled},
        is_top=#{bv.top}, is_published=#{bv.published}, password=#{bv.password}
        where id=#{blogId}
    </update>

    <!--更新博客阅读次数-->
    <update id="updateViews">
        update blog set views=#{views} where id=#{blogId}
    </update>

    <!--按id查询博客-->
    <select id="getBlogById" resultMap="blog">
        select b.id, b.title, b.first_picture, b.content, b.description, b.is_recommend, b.is_published, b.is_appreciation,
        b.is_comment_enabled, b.is_top, b.create_time, b.update_time, b.views, b.words, b.read_time, b.password,
        c.id as category_id, c.category_name,
        bt.tag_id as tag_id, t.tag_name as tag_name, t.color
        from (((blog as b left join category as c on b.category_id=c.id) left join blog_tag as bt on b.id=bt.blog_id) left join tag as t on bt.tag_id=t.id)
        where b.id=#{id}
    </select>

    <!--按id查询博客标题-->
    <select id="getTitleByBlogId" resultType="java.lang.String">
        select title from blog where id=#{id}
    </select>

    <resultMap id="blogDetail" type="top.naccl.model.vo.BlogDetail">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="appreciation" column="is_appreciation"/>
        <result property="commentEnabled" column="is_comment_enabled"/>
        <result property="top" column="is_top"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <result property="words" column="words"/>
        <result property="readTime" column="read_time"/>
        <result property="password" column="password"/>
        <association property="category" javaType="top.naccl.entity.Category">
            <result property="name" column="category_name"/>
        </association>
        <collection property="tags" javaType="top.naccl.entity.Tag">
            <result property="name" column="tag_name"/>
            <result property="color" column="color"/>
        </collection>
    </resultMap>

    <!--按id查询公开博客-->
    <select id="getBlogByIdAndIsPublished" resultMap="blogDetail">
        select b.id, b.title, b.content, b.is_appreciation, b.is_comment_enabled, b.is_top,
        b.create_time, b.update_time, b.views, b.words, b.read_time, b.password,
        c.category_name,
        t.tag_name as tag_name, t.color
        from (((blog as b left join category as c on b.category_id=c.id) left join blog_tag as bt on b.id=bt.blog_id) left join tag as t on bt.tag_id=t.id)
        where b.id=#{id} and b.is_published=true
    </select>

    <!--查询受密码保护文章密码-->
    <select id="getBlogPassword" resultType="java.lang.String">
        select password from blog where id=#{blogId}
    </select>

    <!--更新博客-->
    <update id="updateBlog">
        update blog set title=#{title}, first_picture=#{firstPicture}, content=#{content}, description=#{description},
        is_recommend=#{recommend}, is_published=#{published}, is_appreciation=#{appreciation}, is_comment_enabled=#{commentEnabled},
        is_top=#{top}, create_time=#{createTime}, update_time=#{updateTime}, views=#{views},
        words=#{words}, read_time=#{readTime}, category_id=#{category.id}, password=#{password}
        where id=#{id}
    </update>

    <!--查询博客总数-->
    <select id="countBlog" resultType="java.lang.Integer">
        select count(*) from blog
    </select>

    <!--查询公开博客总数-->
    <select id="countBlogByIsPublished" resultType="java.lang.Integer">
        select count(*) from blog where is_published=true
    </select>

    <!--按分类id查询博客数量-->
    <select id="countBlogByCategoryId" resultType="java.lang.Integer">
        select count(*) from blog where category_id=#{categoryId}
    </select>

    <!--按标签id查询博客数量-->
    <select id="countBlogByTagId" resultType="java.lang.Integer">
        select count(*) from blog_tag where tag_id=#{tagId}
    </select>

    <!--查询博客是否启用评论-->
    <select id="getCommentEnabledByBlogId" resultType="java.lang.Boolean">
        select is_comment_enabled from blog where id=#{blogId}
    </select>

    <!--查询博客是否公开-->
    <select id="getPublishedByBlogId" resultType="java.lang.Boolean">
        select is_published from blog where id=#{blogId}
    </select>

    <resultMap id="categoryBlogCount" type="top.naccl.model.vo.CategoryBlogCount">
        <id property="id" column="category_id"/>
        <result property="value" column="blog_count"/>
    </resultMap>

    <!--查询每个分类的博客数量-->
    <select id="getCategoryBlogCountList" resultMap="categoryBlogCount">
        select category_id, count(category_id) as blog_count from blog group by category_id
    </select>
</mapper>
