<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.BlogMapper">

    <resultMap id="blog" type="top.naccl.entity.Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="firstPicture" column="first_picture"/>
        <result property="description" column="description"/>
        <result property="flag" column="flag"/>
        <result property="published" column="is_published"/>
        <result property="recommend" column="is_recommend"/>
        <result property="appreciation" column="is_appreciation"/>
        <result property="shareStatement" column="is_share_statement"/>
        <result property="commentEnabled" column="is_comment_enabled"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="views" column="views"/>
        <result property="words" column="words"/>
        <result property="readTime" column="read_time"/>
        <association property="user" javaType="top.naccl.entity.User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="nickname" column="nickname"/>
            <result property="avatar" column="avatar"/>
            <result property="email" column="email"/>
            <result property="createTime" column="user_create_time"/>
            <result property="updateTime" column="user_update_time"/>
            <result property="role" column="role"/>
        </association>
        <association property="category" javaType="top.naccl.entity.Category">
            <id property="id" column="category_id"/>
            <result property="name" column="category_name"/>
        </association>
        <collection property="tags" javaType="top.naccl.entity.Tag">
            <id property="id" column="tag_id"/>
            <result property="name" column="tag_name"/>
            <result property="color" column="color"/>
        </collection>
    </resultMap>

    <!--按标题和分类查询博客List-->
    <select id="getListByTitleOrCategory" resultMap="blog">
        <bind name="queryPattern" value="'%' + query + '%'"/>
        select b.id, b.title, b.is_recommend, b.is_published, b.create_time, b.update_time,
                c.id as category_id, c.category_name
        from blog as b left join category as c on b.category_id=c.id
        <where>
            <if test="query!=null and query!=''">
                b.title like #{queryPattern}
            </if>
            <if test="CategoryId!=null">
                and b.category_id=#{CategoryId}
            </if>
        </where>
    </select>

    <!--按id删除博客-->
    <delete id="deleteBlogById">
        delete from blog where id=#{id}
    </delete>

    <!--维护 blog_tag 表(删除)-->
    <delete id="deleteBlogTagByBlogId">
        delete from blog_tag where blog_id=#{blogId}
    </delete>

    <!--添加博客-->
    <insert id="saveBlog" parameterType="top.naccl.entity.Blog" useGeneratedKeys="true" keyProperty="id">
        insert into blog (title, content, first_picture, description, flag, is_published, is_recommend, is_appreciation, is_share_statement,
        is_comment_enabled, create_time, update_time, views, words, read_time, category_id, user_id)
        values (#{title}, #{content}, #{firstPicture}, #{description}, #{flag}, #{published}, #{recommend}, #{appreciation}, #{shareStatement},
        #{commentEnabled}, #{createTime}, #{updateTime}, #{views}, #{words}, #{readTime}, #{category.id}, #{user.id})
    </insert>

    <!--维护 blog_tag 表(添加)-->
    <insert id="saveBlogTag">
        insert into blog_tag (blog_id, tag_id) values (#{blogId}, #{tagId})
    </insert>
</mapper>
