<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.CategoryMapper">

    <resultMap id="category" type="top.naccl.entity.Category">
        <id property="id" column="id"/>
        <result property="name" column="category_name"/>
    </resultMap>

    <!--获取所有分类List-->
    <select id="getCategoryList" resultMap="category">
        select id, category_name from category order by id desc
    </select>

    <!--获取所有分类List不查询id-->
    <select id="getCategoryListNotId" resultMap="category">
        select category_name from category order by id desc
    </select>

    <resultMap id="blogInfo" type="top.naccl.model.vo.BlogInfo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="views" column="views"/>
        <result property="words" column="words"/>
        <result property="readTime" column="read_time"/>
        <result property="top" column="is_top"/>
        <association property="category" javaType="top.naccl.entity.Category">
            <result property="name" column="category_name"/>
        </association>
    </resultMap>

    <!--根据分类name查询公开博客List-->
    <select id="getBlogInfoListByCategoryNameAndIsPublished" resultMap="blogInfo">
        select b.id, b.title, b.description, b.is_top, b.create_time, b.views, b.words, b.read_time, c.category_name
        from category as c left join blog as b on c.id=b.category_id
        where c.category_name=#{categoryName} and b.is_published=true
    </select>

    <!--添加分类-->
    <insert id="saveCategory" parameterType="top.naccl.entity.Category" useGeneratedKeys="true" keyProperty="id">
        insert into category (category_name) values (#{name})
    </insert>

    <!--按id查询分类-->
    <select id="getCategoryById" resultMap="category">
        select id, category_name from category where id=#{id}
    </select>

    <!--按name查询分类-->
    <select id="getCategoryByName" resultMap="category">
        select id, category_name from category where category_name=#{name}
    </select>

    <!--按id删除分类-->
    <delete id="deleteCategoryById">
        delete from category where id=#{id}
    </delete>

    <!--更新分类-->
    <update id="updateCategory">
        update category set category_name=#{name} where id=#{id}
    </update>
</mapper>
