<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.CategoryMapper">

    <resultMap id="category" type="top.naccl.entity.Category">
        <id property="id" column="id"/>
        <result property="name" column="category_name"/>
    </resultMap>

    <!--获取所有分类List-->
    <select id="getCategoryList" resultMap="category">
        select id, category_name from category order by id desc
    </select>

    <!--获取所有分类List不查询id-->
    <select id="getCategoryNameList" resultMap="category">
        select category_name from category order by id desc
    </select>

    <!--添加分类-->
    <insert id="saveCategory" parameterType="top.naccl.entity.Category" useGeneratedKeys="true" keyProperty="id">
        insert into category (category_name) values (#{name})
    </insert>

    <!--按id查询分类-->
    <select id="getCategoryById" resultMap="category">
        select id, category_name from category where id=#{id}
    </select>

    <!--按name查询分类-->
    <select id="getCategoryByName" resultMap="category">
        select id, category_name from category where category_name=#{name}
    </select>

    <!--按id删除分类-->
    <delete id="deleteCategoryById">
        delete from category where id=#{id}
    </delete>

    <!--更新分类-->
    <update id="updateCategory">
        update category set category_name=#{name} where id=#{id}
    </update>
</mapper>
