<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.naccl.mapper.ExceptionLogMapper">

    <resultMap id="log" type="top.naccl.entity.ExceptionLog">
        <id property="id" column="id"/>
        <result property="uri" column="uri"/>
        <result property="method" column="method"/>
        <result property="param" column="param"/>
        <result property="description" column="description"/>
        <result property="error" column="error"/>
        <result property="ip" column="ip"/>
        <result property="ipSource" column="ip_source"/>
        <result property="os" column="os"/>
        <result property="browser" column="browser"/>
        <result property="createTime" column="create_time"/>
        <result property="userAgent" column="user_agent"/>
    </resultMap>

    <!--查询日志-->
    <select id="getExceptionLogListByDate" resultMap="log">
        select id, uri, method, param, description, error, ip, ip_source, os, browser, create_time
        from exception_log
        <where>
            <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                create_time between #{startDate} and #{endDate}
            </if>
        </where>
    </select>

    <!--添加日志-->
    <insert id="saveExceptionLog" parameterType="top.naccl.entity.ExceptionLog" useGeneratedKeys="true" keyProperty="id">
        insert into exception_log (uri, method, param, description, error, ip, ip_source, os, browser, create_time, user_agent)
        values (#{uri}, #{method}, #{param}, #{description}, #{error}, #{ip}, #{ipSource}, #{os}, #{browser}, #{createTime}, #{userAgent})
    </insert>

    <!--删除日志-->
    <delete id="deleteExceptionLogById">
        delete from exception_log where id=#{id}
    </delete>
</mapper>