<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.FriendMapper">
    <resultMap id="friend" type="top.naccl.entity.Friend">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="description" column="description"/>
        <result property="website" column="website"/>
        <result property="avatar" column="avatar"/>
        <result property="published" column="is_published"/>
        <result property="views" column="views"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--查询友链List-->
    <select id="getFriendList" resultMap="friend">
        select id, nickname, description, website, avatar, is_published, views, create_time from friend
    </select>

    <resultMap id="friendVO" type="top.naccl.model.vo.Friend">
        <result property="nickname" column="nickname"/>
        <result property="description" column="description"/>
        <result property="website" column="website"/>
        <result property="avatar" column="avatar"/>
    </resultMap>

    <!--查询友链VO List-->
    <select id="getFriendVOList" resultMap="friendVO">
        select nickname, description, website, avatar from friend where is_published=true order by rand()
    </select>

    <!--更新友链公开状态-->
    <update id="updateFriendPublishedById">
        update friend set is_published=#{published} where id=#{id}
    </update>

    <!--添加友链-->
    <insert id="saveFriend" parameterType="top.naccl.entity.Friend" useGeneratedKeys="true" keyProperty="id">
        insert into friend (nickname, description, website, avatar, is_published, views, create_time)
        values (#{nickname}, #{description}, #{website}, #{avatar}, #{published}, #{views}, #{createTime})
    </insert>

    <!--更新友链-->
    <update id="updateFriend">
        update friend set nickname=#{nickname}, description=#{description}, website=#{website}, avatar=#{avatar}, is_published=#{published}
        where id=#{id}
    </update>

    <!--按id删除友链-->
    <delete id="deleteFriend">
        delete from friend where id=#{id}
    </delete>

    <!--增加友链浏览次数-->
    <update id="updateViewsByNickname">
        update friend set views=views+1 where nickname=#{nickname}
    </update>
</mapper>
