<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.TagMapper">

    <resultMap id="tag" type="top.naccl.entity.Tag">
        <id property="id" column="id"/>
        <result property="name" column="tag_name"/>
        <result property="color" column="color"/>
    </resultMap>

    <!--获取所有标签List-->
    <select id="getTagList" resultMap="tag">
        select id, tag_name, color from tag order by id desc
    </select>

    <!--获取所有标签List不查询id-->
    <select id="getTagListNotId" resultMap="tag">
        select tag_name, color from tag order by id desc
    </select>

    <!--按博客id查询List-->
    <select id="getTagListByBlogId" resultMap="tag">
        select t.tag_name, t.color
        from blog_tag as bt left join tag as t on bt.tag_id=t.id
        where bt.blog_id=#{blogId}
    </select>

    <!--添加标签-->
    <insert id="saveTag" parameterType="top.naccl.entity.Tag" useGeneratedKeys="true" keyProperty="id">
        insert into tag (tag_name, color) values (#{name}, #{color})
    </insert>

    <!--按id查询标签-->
    <select id="getTagById" resultMap="tag">
        select id, tag_name, color from tag where id=#{id}
    </select>

    <!--按name查询标签-->
    <select id="getTagByName" resultMap="tag">
        select id, tag_name, color from tag where tag_name=#{name}
    </select>

    <!--按id删除标签-->
    <delete id="deleteTagById">
        delete from tag where id=#{id}
    </delete>

    <!--更新标签-->
    <update id="updateTag">
        update tag set tag_name=#{name}, color=#{color} where id=#{id}
    </update>

    <resultMap id="tagBlogCount" type="top.naccl.model.vo.TagBlogCount">
        <id property="id" column="tag_id"/>
        <result property="value" column="blog_count"/>
    </resultMap>

    <!--查询每个标签的博客数量-->
    <select id="getTagBlogCount" resultMap="tagBlogCount">
        select tag_id, count(tag_id) as blog_count from blog_tag group by tag_id
    </select>
</mapper>
