<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.naccl.mapper.TagMapper">

    <resultMap id="tag" type="top.naccl.entity.Tag">
        <id property="id" column="id"/>
        <result property="name" column="tag_name"/>
        <result property="color" column="color"/>
    </resultMap>

    <!--获取所有标签List-->
    <select id="getTagList" resultMap="tag">
        select id, tag_name, color from tag order by id desc
    </select>

    <!--按博客id查询List-->
    <select id="getTagListByBlogId" resultMap="tag">
        select t.id, t.tag_name, t.color
        from blog_tag as bt left join tag as t on bt.tag_id=t.id
        where bt.blog_id=#{blogId}
    </select>

    <resultMap id="blogInfo" type="top.naccl.model.vo.BlogInfo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="views" column="views"/>
        <result property="words" column="words"/>
        <result property="readTime" column="read_time"/>
        <result property="top" column="is_top"/>
        <association property="category" javaType="top.naccl.entity.Category">
            <id property="id" column="category_id"/>
            <result property="name" column="category_name"/>
        </association>
    </resultMap>

    <!--根据标签name查询公开博客List-->
    <select id="getBlogInfoListByTagNameAndIsPublished" resultMap="blogInfo">
        select b.id, b.title, b.description, b.is_top, b.create_time, b.views, b.words, b.read_time, c.id as category_id, c.category_name
        from (((tag as t left join blog_tag as bt on t.id=bt.tag_id) left join blog as b on bt.blog_id=b.id) left join category as c on b.category_id=c.id)
        where t.tag_name=#{tagName} and b.is_published=true
    </select>

    <!--添加标签-->
    <insert id="saveTag" parameterType="top.naccl.entity.Tag" useGeneratedKeys="true" keyProperty="id">
        insert into tag (tag_name, color) values (#{name}, #{color})
    </insert>

    <!--按id查询标签-->
    <select id="getTagById" resultMap="tag">
        select id, tag_name, color from tag where id=#{id}
    </select>

    <!--按name查询标签-->
    <select id="getTagByName" resultMap="tag">
        select id, tag_name, color from tag where tag_name=#{name}
    </select>

    <!--按id删除标签-->
    <delete id="deleteTagById">
        delete from tag where id=#{id}
    </delete>

    <!--更新标签-->
    <update id="updateTag">
        update tag set tag_name=#{name}, color=#{color} where id=#{id}
    </update>
</mapper>
